
.explorebtn2 {
  border: 2px solid #3ff511d8;
  color: #1BFD9C;
  padding: 0.1em 4.1em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #00325e;
  margin: 4px;
  transition: all .3s;

 }
 
 .explorebtn2:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5,
              inset -4px -4px 12px #ffffff;
 }