.imgcard {
  width: 60%;
  margin: 12px;
}
.explorebtn12 {
  border: 2px solid #37fa5e;
  margin-left: 50%;
  height: 30px;
  width: 90px;
  position: absolute;
  color: #ffffff;
  border-radius: 0.9em;
  padding-left: 12px;
  background: #009972;
  margin-bottom: 10px;
}

.card1 {
  height: 80px;
  width: 93%;
  position: relative;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 16px;
  box-shadow: 0 0 20px 8px #59625d58;
  background-color: #2882d11b;
  margin: 20px;
}


/*Image*/
.card1-image {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: absolute;
  margin-top: 5px;
  margin-left: 2%;
  background: #009972;
}
/*Description */
.card1-description {
margin-bottom: 40%;
  margin-left: 25%;
  font-size: 1.5rem;
  gap: 0.5em;
  flex-direction: column;
  color: #000;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
/*De

/*Text*/
.text-title1 {
  font-size: 1rem;
  color: #001e06;
  align-items: center;
position: absolute;
}

.text-body1 {
  position: relative;
  line-height: 130%;
  color: #000;
  font-size: 0.6em;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.text-body1b {
  position: relative;
  line-height: 130%;
  color: #ffffff;
  font-size: 0.6em;
}

/* Hover states */
