/* /* styles.css */
/* Dashboard.css */

/* Add the active class styles */
.social-icon.active {
  border-bottom: 2px solid #007bff; /* Change this color to match your design */
}

.icon-label {
  display: block; /* Ensure labels are on a new line */
  text-align: center; /* Center the label text */
  font-size: 14px; /* Adjust font size as needed */
  margin-top: 4px; /* Add spacing between icon and label */
  color: #ffffff; /* Adjust label color */
}

#nava2{
background-color: #002266;
height: 50px;
margin-bottom: 0px;
display: flex;
position: fixed;
}
.icouse {
  display: flex;
  justify-content: space-around; /* Adjust as needed */
  align-items: center;
  height: 30px; /* Adjust the height of the navbar as needed */
}

.social-icons {
  display: flex;

 
}

.social-icon {
  display: grid;
  position: relative;
  font-size: 21px;
  color: #ffffff;
  text-decoration: none;
margin-bottom: 2%;
margin-left: 20px;
margin-right: 20px;
margin-top: 35px;

 
  
 
  /* Adjust the spacing between icons as needed */
}

  /* TopNavbar.css */

.top-navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #a4a0e5;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-content {
    display: flex;
    justify-content: center;
  }
  
  .navbar-text {
    font-size: 1.5rem;
  }
  
  