/* Unique CSS for the transparent navbar */
.navbar1 {
    background: linear-gradient(to right, #2b00ff , #030024);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    margin-top: 0;
    z-index: 1000;
  }
  
  .navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.8); /* Adjust the transparency as needed */
    backdrop-filter: blur(10px);
  }
  
  .navbar-logo img {
    height: 40px;
  }
  
  .navbar-links a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
  }
  
  /* Additional styles to prevent interference with Bootstrap */
  .navbar.scrolled .navbar-links a {
    color: black; /* Change link color when scrolled */
  }
  