.bucketrow{
  background-color: #177ad142;
  padding: 3%;
  width: 100%;
}
.pro2{
  margin-left: 5px;
}

.namep{
  margin-top: 10px;
  margin-left: 5px;
}
.cardacc{
    border-radius: 120px;
  }
  .card6 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cardnew1 {
    margin-top: 130px;
    padding-bottom: 100px;
  }
  .background2 {
    color: #ffffff;
    background-color: #ebeff7;
    padding-bottom: 100px;
    margin-bottom: 0;
    position: relative;
    width: 100vw;
    margin-top: 0;
  }
  .container61 {
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    color: #ffffff;
    margin-top: 0;
  }
  
  .container62 {
    color: white;
    display: flex;
    width: 100px;
    height: 100px;
    background-color: #00325e;
    border-radius: 100%;
    border: 2px solid #00d820;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }
  
  .container622 {
    color: white;
    display: flex;
    width: 100px;
    height: 100px;
    background-color: #ebeff7 ;
    border-radius: 100%;
    border: 1px solid #00325e ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }
  
  .card5 {
    width: 100%;
    border: none;
    margin-top: 0;
    border-radius: 0 0 50px 50px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #1558f5e5, #00195e60);
  }
  
  .card5 {
    width: 100%;
    height: 250px;
    border: none;
    margin-top: 0;
    border-radius: 0 0 50px 50px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    align-items: center;
    background-image: url(../../../Assets//img//hero.jpeg);
     background-size: cover; /* Add this line */
    background-repeat: no-repeat; /* Add this line */
    background-position: center; /* Add this line */
    justify-content: center;
  }
  
  .card55 {
    width: 100%;
    height: 250px;
    border: none;
    margin-top: 0;
    border-radius: 0 0 0px 0px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    align-items: center;
    background-image: url(../../../Assets//img/profile\ cover.jpg);
    background-size: cover; /* Add this line */
    background-repeat: no-repeat; /* Add this line */
    background-position: center; /* Add this line */
    justify-content: center;
  }
  
  
  .content {
    color: white;
    align-items: center;
    justify-content: center;
    padding: 1.1rem;
    text-align: center;
    margin-top: 0;
  }
  
  .image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    color: #ffffff;
    border-radius: 6px;
  }
  .explorebtn3 {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 40px;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 5px;
    border: 2px solid #5ada3a;
    color: #ffffff;
    background-color: #00325e;
    font-family: ultra;
  }
  
  .desc {
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
    margin-bottom: 40px;
  }
  
  .action {
    display: inline-flex;
    margin-top: 1rem;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    align-items: center;
    gap: 0.25rem;
    background-color: #2563eb;
    padding: 4px 8px;
    border-radius: 4px;
  }
  
  .action span {
    transition: 0.3s ease;
  }
  
  .action:hover span {
    transform: translateX(4px);
  }
  #h6 {
    margin-top: 9px;
    text-align: center;
  }
  .title1 {
    color: #ffffff;
  
    line-height: 1.75rem;
    font-weight: 100;
    text-align: center;
    font-family: gara;
  }
  @font-face {
    font-family: ultra;
    src: url(../../../Assets/fonts/EBGaramond-Italic-VariableFont_wght.ttf);
  }
  
  @font-face {
    font-family: gara;
    src: url(../../../Assets/fonts/EBGaramond-VariableFont_wght.ttf);
  }
  
  .ultra {
    font-family: ultra;
  }
  .gara {
    font-family: gara;
  }
  