.container67 {
  justify-content: center;
  background-color: #fff;
  color: #ffffff;
  padding-bottom: 0%;
}


#cardshadow{
height: 70%;
  display: flex;
  justify-content: center;
  margin: 19px 20px;
  border-radius: 10px;
  background: linear-gradient(315deg, #29963f, #227e35);
  box-shadow:  -16px -16px 32px #20773151,
               16px 16px 32px #2ca14357;
}
#container612{
 margin: 25px;

text-align: justify;



}
