
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,400;1,500&family=Ultra&display=swap');

html *{
  -webkit-font-smoothing: antialiased;
}
.black{
  color: black;
}
.blue-text {
  color: blue;
}
.thebody{

  margin:0 auto;
  padding: 0;
	height: 100vh;
}

.feedback1{
  padding: 5%;
  color: black;
}
#row1{
  margin-left: 5px;
padding-right: 12px;

}
.navcomp{
  margin-top: 0;
  position: relative;
  
 
}
.card12{
  border-radius: 15px;
  background-color:#128C7E ;
  background: linear-gradient(to right, #7700ff , #00325e);

 
}
body{
  line-height: 1.5em !important;
}
.title h3{
  font-size: 25px !important;
  margin-top: 20px;
  margin-bottom: 25px;
  line-height: 1.4em !important;
  font-weight: 300;
}

/* inputs */

.container .bmd-form-group .bmd-label-static {
  top: .35rem;
  left: 0;
  font-size: .875rem;
}

.container .bmd-form-group .form-control, .bmd-form-group input::placeholder, .bmd-form-group label {
  line-height: 1.1;
}

.container .form-control, .is-focused .form-control {
  background-image: linear-gradient(0deg,#9c27b0 2px,
  rgba(156,39,176,0) 0),linear-gradient(0deg,#d2d2d2 1px,hsla(0,0%,82%,0) 0) !important;
}

.form-group.is-focused [class*=" bmd-label"], .form-group.is-focused [class^=bmd-label] {
  color: #9c27b0;
}
#form-control1{
position: relative;

}
.form-control {
  border: 0;
  height: 36px;
  background-color: #ffffff;
  padding-left: 0;
  padding-right: 0;
  border-radius: 5px;
  font-size: 14px !important;
}
.form-control:focus{
  box-shadow: none;
}
.form-control:hover{
  background-color: #ffffff;
}
.form-control::placeholder{
  font-size: 14px !important;
  color: #AAA !important;
}

.bmd-form-group label {
  font-size: .875rem !important;
  color: #AAA;
}

.bmd-form-group [class^=bmd-label].bmd-label-floating {
  will-change: left,top,contents;
  margin: 0;
  line-height: 1.4;
  font-weight: 400;
}

.bmd-form-group .bmd-label-floating, .bmd-form-group .bmd-label-placeholder {
  top: 2.3125rem !important;
}

.is-focused .bmd-label-floating {
  top: 1rem;
  left: 0;
  font-size: .6875rem;
}

.is-filled .bmd-label-floating, .is-focused .bmd-label-floating {
  top: 1rem !important;
  left: 0;
  font-size: .6875rem !important;
}
 .bmd-label-floating {
  top: 1rem !important;
  left: 0;
  font-size: .6875rem !important;
}


.has-success .form-control-feedback {
  color: #4caf50 !important;
  opacity: 1;
}

.has-danger .form-control-feedback {
  color: #f44336;
  opacity: 1;
}

.form-control-feedback {
  position: absolute;
  top: 33px;
  right: 0;
  z-index: 2;
  display: block;
  width: 34px;
  height: 34px;
  line-height: 34px;
  pointer-events: none;
  opacity: 0;
}

.has-success .form-control, .is-focused .has-success .form-control {
  background-image: linear-gradient(to top,#4caf50 2px,rgba(76,175,80,0) 2px),linear-gradient(to top,#d2d2d2 1px,rgba(210,210,210,0) 1px) !important;
}

.has-danger .form-control, .has-danger .form-control:invalid, .is-focused .has-danger .form-control {
  background-image: linear-gradient(to top,#f44336 2px,rgba(244,67,54,0) 2px),linear-gradient(to top,#d2d2d2 1px,rgba(210,210,210,0) 1px) !important;
}

.input-group .input-group-text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
  background-color: transparent;
  border-color: transparent;
}


/* startin here we go */


/* button1 for submit css */
.neu-button {
  background-color: #128C7E;
  border-radius: 3px;
  
  color: #ffffff;
  cursor: pointer;
  font-size: 19px;
  font-style:normal;
  padding: 8px;
  padding-left: 150px;
  padding-right: 150px;
  transition: all 0.2s ease-in-out;
  border: 1px solid rgb(42, 177, 91);
}

.neu-button:hover {
  box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
}

.neu-button:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px #bcbcbc, inset -2px -2px 5px #ffffff, 2px 2px 5px #bcbcbc, -2px -2px 5px #ffffff;
}
.button1{
  margin-top: 5px;
  text-align: center;

}

.white{
  color: white;
}


/* navbar */
#icondubu{
  width: 55px;
  border: none;

}
.togglebtn{
  margin-right: 8px;
  margin-top: 0;
border: none;
shape-outside: none;
  
}
.navbar{
 
  background: linear-gradient(to right, #2b00ff , #030024);
  border: none;
  margin: 0;
  box-shadow: none;
  padding-bottom: 18px;
  width: 100%;

 
}
.offcanvas{
  background-color: #273443;
  color: #ffffff;
 

}
.ul1:hover{
  background-color: #273443;
  color: #09ef4a;
 

}
.bgprimary{
  color: #1BFD9C;
  background-color:#128C7E ;
  background: linear-gradient(to right, #273443, #35804c);
  
  
}

#h5{
  color: white;
}

/* image bucket saves style */
.image-container1 {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

.image-container1 img {
  max-width: 100%;
  max-height: 100%;
}
h3{
  color:#273443;
  text-align: center;
  font-family: sans-serif  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.green{
  color: #4caf50;
}
h5{
  text-align: center;
margin-top: 5px;
color: #273443;
font-size: 1.1em;
}

/* download button styling start */
#downloadbtn2{

  display: flex;
  justify-content: center;
  align-items: center;
}
#downloadbtn {
 
  
  --green: #1BFD9C;
  font-size: 15px;
  
  padding: 0.7em 2.7em;
  letter-spacing: 0.06em;
  position: relative;
  font-family: inherit;
  border-radius: 0.6em;
  overflow: hidden;
  transition: all 0.3s;
  line-height: 1.4em;
  border: 2px solid var(--green);
  background: linear-gradient(to right, rgba(27, 253, 156, 0.1) 1%, transparent 40%,transparent 60% , rgba(27, 253, 156, 0.1) 100%);
  color: var(--green);
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.4), 0 0 9px 3px rgba(27, 253, 156, 0.1);
}

#downloadbtn:hover {
  color: #82ffc9;
  box-shadow: inset 0 0 10px rgba(27, 253, 156, 0.6), 0 0 9px 3px rgba(27, 253, 156, 0.2);
}

#downloadbtn:before {
  content: "";
  position: absolute;
  left: -4em;
  width: 4em;
  height: 100%;
  top: 0;
  transition: transform .4s ease-in-out;
  background: linear-gradient(to right, transparent 1%, rgba(27, 253, 156, 0.1) 40%,rgba(27, 253, 156, 0.1) 60% , transparent 100%);
}

#downloadbtn:hover:before {
  transform: translateX(15em);
  /* download button styling start */
}
.pa1{
  text-align: center;
  color: #4caf50;
  text-decoration: solid;

}
.btnus{
  color: #1BFD9C;
  justify-content: center;
  position: absolute;
  left: 100;
  width: 200px;
}
#btn2{
  background-color: #273443;
  top: 90px;
  border-radius: 4px;
 margin-top: 4px;
position: relative;
 
}
#img1{
  position: absolute;
  width: 100;
  height: 150px;
  left: 59px;
  top: 98px;

}

#img2{
  position:relative;
  width: 100px;
  height: 150px;
  left: 70%;
  top: 10px;
  

}
h6{
  text-align: center;
}
.container3{
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 1000px;
 background-color: #c8eee7;
 border-radius: 3px;
 margin: 4px;
 margin-top: 12px;
 box-shadow: 0px 5px 8px #174d3a46;
padding: 20px 30px;
}
.container5{
  display: grid;
  justify-content: center;
  align-items: center;
 

}
.ico1{
  margin: 2px;
}












/* loading */
#page {
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#h3 {
  color: green;
}

#ring {
  width: 50px;
  height: 50px;
  border: 1px solid transparent;
  border-radius: 50%;
  position: absolute;
}

#ring:nth-child(1) {
  border-bottom: 8px solid rgb(255, 141, 249);
  animation: rotate1 2s linear infinite;
}

@keyframes rotate1 {
  from {
    transform: rotateX(50deg) rotateZ(110deg);
  }

  to {
    transform: rotateX(50deg) rotateZ(470deg);
  }
}

#ring:nth-child(2) {
  border-bottom: 8px solid rgb(11, 205, 85);
  animation: rotate2 2s linear infinite;
}

@keyframes rotate2 {
  from {
    transform: rotateX(20deg) rotateY(50deg) rotateZ(20deg);
  }

  to {
    transform: rotateX(20deg) rotateY(50deg) rotateZ(380deg);
  }
}

#ring:nth-child(3) {
  border-bottom: 8px solid #273443;
  animation: rotate3 2s linear infinite;
}

@keyframes rotate3 {
  from {
    transform: rotateX(40deg) rotateY(130deg) rotateZ(450deg);
  }

  to {
    transform: rotateX(40deg) rotateY(130deg) rotateZ(90deg);
  }
}

#ring:nth-child(4) {
  border-bottom: 8px solid rgb(252, 183, 55);
  animation: rotate4 2s linear infinite;
}

@keyframes rotate4 {
  from {
    transform: rotateX(70deg) rotateZ(270deg);
  }

  to {
    transform: rotateX(70deg) rotateZ(630deg);
  }
}
#h5{
  color: #1BFD9C;
  text-align: center;
}


.explorebtn {
  color: #1BFD9C;
  padding: 0.1em 1.1em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #00325e;
  border: 1px solid #e8e8e8;
  transition: all .3s;
  box-shadow: 6px 6px 12px #4f917289,
              -6px -6px 12px #62ed9e50;
 }
 
 .explorebtn:active {
  color: #666;
  box-shadow: inset 4px 4px 12px #c5c5c5,
              inset -4px -4px 12px #ffffff;
 }

 #h31{
  color: #273443;
  font-size: 1rem;
 }